apiVersion: v2
name: workflow
version: 1.2.14
description: CreditForce Workflow Helm chart for Kubernetes 
sources:
  - https://creditforce.github.io/helm-chart/
icon:  https://avatars.githubusercontent.com/u/66394013
appVersion: "0.0.1"

dependencies:

  - name: workflow-api-admin
    version: 1.0.7
    repository: "file://../workflow-api-admin/"
    condition: workflow-api-admin.enabled

  - name: workflow-api-auth
    version: 1.0.7
    repository: "file://../workflow-api-auth/"
    condition: workflow-api-auth.enabled

  - name:  workflow-api-dashboard
    version: 1.0.7
    repository: "file://../workflow-api-dashboard/"
    condition:  workflow-api-dashboard.enabled  

  - name:  workflow-api-designer
    version: 1.0.7
    repository: "file://../workflow-api-designer/"
    condition:  workflow-api-designer.enabled  

  - name:  workflow-api-engine
    version: 1.0.7
    repository: "file://../workflow-api-engine/"
    condition:  workflow-api-engine.enabled  

  - name:  workflow-api-scripts
    version: 1.0.7
    repository: "file://../workflow-api-scripts/"
    condition:  workflow-api-scripts.enabled  

  - name:  workflow-api-interaction
    version: 1.0.7
    repository: "file://../workflow-api-interaction/"
    condition:  workflow-api-interaction.enabled  

  - name:  workflow-base-web
    version: 1.2.13
    repository: "file://../workflow-base-web/"
    condition:  workflow-base-web.enabled  
