apiVersion: v2
name: security
version: 1.1.4
description: CreditForce Security Helm chart for Kubernetes 
sources:
  - https://creditforce.github.io/helm-chart/
icon:  https://images8.webydo.com/96/9628253/3958/F6AD13C0-3367-06E4-3434-7E46130909F9.png
appVersion: "0.0.1"

dependencies:

  - name: api-auth
    version: 1.1.3
    repository: "file://../api-auth/"
    condition: api-auth.enabled

  - name: web-security
    version: 1.1.4
    repository: "file://../web-security/"
    condition: web-security.enabled
