global:
  domain: "localdomain"
  certificateName: # opcional, puede quedar vacío para usar los secretName específicos

api-mobile-collect:
  enabled: true
  ingress:
    enabled: true
    host: "api-mobile-collect"
    tls:
      enabled: true
      secretName: api-mobile-collect-tls

api-mobile-proxy-collect:
  enabled: true
  ingress:
    enabled: true
    host: "proxy-mobile-collect"
    tls:
      enabled: true
      secretName: proxy-mobile-collect-tls

api-mobile-v1-proxy-collect:
  enabled: true
  ingress:
    enabled: true
    host: "proxy-v1-mobile-collect"
    tls:
      enabled: true
      secretName: api-mobile-v1-proxy-collect-tls

